<% layout('../../../page')%>
<% stylesheet('/css/admin.css') %>
<div class="container-fluid">
    <div class="row">
        <%-partial('../../../../partials/leftNav')%>
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <div class="table-responsive">
                <table class="table table-striped search-name" id="<%= tableName%>" style="min-width: 1240px;">
                    <thead>
                    <tr>
                        <th class="row justify-content-center">
                            <button type="button" id="button-search-form" class="btn btn-primary btn-sm <%= tableName%>" data-toggle="modal" data-target="#ModalLong">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </th>
                        <% ColumnName.forEach(function (value) {%>
                        <% if (value.length !== 2){%>
                        <th>
                            <%-value[0]%>
                            <span class="align-middle span-sort" id="span-<%-value[0]%>">

                            </span>
                        </th>
                        <% }%>
                        <% }) %>
                    </tr>
                    </thead>
                    <tbody class="tbody-info" id="tbody">
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="ModalLong" tabindex="-1" role="dialog" aria-labelledby="ModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLongTitle">Modal title</h5>
                        </div>
                        <div class="modal-body" id="choose-customer-body" style="display: none;">
                            <form id="req-form-choose" class="universal-form">
                                <input type="hidden" class="hidden-input-choose-customer">
                                <div class="form-group row justify-content-center">
                                    <label for="recipient-name" class="col-2 col-form-label">Customer: </label>
                                    <select name="customer id" class="offset-1 offset-sm-0 col-7 custom-select form-control" id="owner-select">
                                        <option value="" selected>Choose customer.</option>
                                        <% Customers.forEach(function (customer) {%>
                                        <option value="<%= customer.customer_id %>" selected><%= customer.surname + " " + customer.name + " " + customer.last_name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="choose-customer-cancel">Close</button>
                                    <button type="submit" class="btn btn-primary" id="choose-customer-submit">Choose customer</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-body" id="create-customer-body" style="display: none;">
                            <form id="req-form-customer" class="universal-form">
                                <input type="hidden" class="hidden-input-create-customer">
                                <%-partial('../../../../partials/user/form-item')%>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="create-customer-cancel">Close</button>
                                    <button type="submit" class="btn btn-primary" id="create-customer-submit">Create customer</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-body" id="search-deal-body">
                            <%-body -%>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/js/ajax/user/control-panel/del-column.js"></script>
<script src="/js/ajax/column-sort.js"></script>
<script src="/js/ajax/user/control-panel/create-customer-search.js" ></script>
<script src="/js/ajax/user/control-panel/change-customer-search.js" ></script>
