<% layout('../../../layouts/user/control-panel/medium/addPattern')%>
<form id="req-form" class="universal-form">
    <input type="hidden" id="hidden-input-in-form">
    <%-partial('../../../partials/user/form-item')%>
    <div class="form-group row justify-content-center">
        <label for="recipient-name" class="col-2 col-form-label">Customer: </label>
        <select name="cust id" class="offset-1 offset-sm-0 col-7 custom-select form-control" id="owner-select">
            <option value="" selected>Choose customer.</option>
            <% Customers.forEach(function (customer) {%>
            <option value="<%= customer.customer_id %>" selected><%= customer.surname + " " + customer.name + " " + customer.last_name %></option>
            <% }) %>
        </select>
    </div>
    <div class="form-group row justify-content-center">
        <label for="recipient-name" class="col-2 col-form-label">Flat: </label>
        <select name="flat id" class="offset-1 offset-sm-0 col-7 custom-select form-control" id="owner-select">
            <option value="" selected>Choose flat.</option>
            <% Flats.forEach(function (flat) {%>
            <option value="<%= flat.flat_id %>" selected><%= flat.city + " " + flat.street + " " + flat.flat %></option>
            <% }) %>
        </select>
    </div>
    <div class="form-group row justify-content-center">
        <label for="recipient-name" class="col-2 col-form-label">Agent: </label>
        <select name="profile id" class="offset-1 offset-sm-0 col-7 custom-select form-control" id="owner-select">
            <option value="" selected>Choose agent.</option>
            <% Profiles.forEach(function (profile) {%>
            <option value="<%= profile.profile_id %>"><%= profile.name + " " + profile.surname %></option>
            <% }) %>
        </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="universal-submit">Create soldout</button>
    </div>
</form>
<script src="/js/ajax/user/control-panel/add-universal.js"></script>